{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .archive-container {
        max-width: 900px;
        margin: 20px auto;
        background-color: #f5f5dc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .archive-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    .archive-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .archive-list li {
        background-color: #f0f0f0;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .archive-list li:nth-child(odd) {
        background-color: #e9ecef;
    }

    .archive-list .archive-info {
        flex-grow: 1;
        color: #555;
    }

    .archive-list .archive-btn {
        margin-left: 15px;
        border-color: #555;
    }

    .btn-container {
        text-align: center;
        margin-top: 20px;
    }

    .btn-confirm {
        background-color: #555;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .btn-confirm:hover {
        background-color: black;
        text-decoration: none;
        color: #fff;
    }

    .btn-info {
        background-color: #555;
        color: white;
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 14px;
    }

    .btn-info:hover {
        background-color: black;
        color: white;
        text-decoration: none;
        border-color: #333;
    }
    
</style>

<div class="archive-container">
    <h2 class="archive-title">Archives pour le dossier médical de {{ record.patient }}</h2>

    <ul class="archive-list">
        {% for archive in archives %}
        <li>
            <div class="archive-info">
                <strong>Version :</strong> {{ archive.version }} <br>
                <strong>Mise à jour le :</strong> {{ archive.updated_at }}
            </div>
            <div class="archive-btn">
                <a href="{% url 'view_archive_version' archive.id %}" class="btn btn-info">Consulter</a>
            </div>
        </li>
        {% endfor %}
    </ul>


    <div class="btn-container">
        <a href="{% url 'medical_record_detail' record.id %}" class="btn btn-info">Retour</a>
    </div>
    

    
</div>

{% endblock %}
